name: Push to Replicate

on:
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Cog
      run: |
        curl -o cog -L https://storage.googleapis.com/replicate-cog/latest/cog-linux
        chmod +x cog
        sudo mv cog /usr/local/bin/cog

    - name: Login to Replicate
      env:
        REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
      run: |
        cog login --token "$REPLICATE_API_TOKEN"

    - name: Push model
      run: |
        cog push r8.im/elabercha-ui/oldfoto-restore
